/* Color palitra */
/* text #FFFFFF rgb(255, 255, 255, 0.6) #757575 #212121 #2196F3*/
/* background #F5F5F5  F5F4FA 2F303A*/
/*
em - от текущего шрифта
% - от родительской ширины
rem - от стиля html
vw – 1% ширины окна
vh – 1% высоты окна
vmin – наименьшее из (vw, vh), в IE9 обозначается vm
vmax – наибольшее из (vw, vh)
*/

:root {
  --text-color: #757575;
  --title-color: #212121;
  --accent-color: #2196f3;
  --white: #ffffff;
  --black: #000000;
  --white_alpha: rgb(255, 255, 255, 0.6);
  --bgr-white: #f5f5f5;
  --bgr-gray: #f5f4fa;
  --bgr-dark: #2f303a;
  --border-color: #eeeeee;
  --border-client: #afb1b8;

  --card-set-gap: 30px;
}

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}
ul,
ol {
  margin: 0;
  padding-left: 0;
}
button {
  cursor: pointer;
}
address {
  font-style: normal;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

body {
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  line-height: 1.71;

  color: var(--text-color);
}

.container {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
  /* border: 2px solid #ff0000; */
}

/*================== Header=================*/
.logo {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  text-decoration: none;
  margin-right: 93px;

  color: var(--black);
}

.header {
  padding-top: 24px;
  padding-bottom: 24px;
}

.header-list {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.blok,
.nav-menu,
.mail-tel {
  display: flex;
  /* align-items: center; */
  align-items: baseline;
}

.nav-item {
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
  text-decoration: none;

  color: var(--title-color);
}

a.accent.accent-item::after {
  content: "";
  display: block;

  position: relative;
  bottom: -24px;

  height: 4px;

  background: var(--accent-color);
  border-radius: 2px;
}

.link {
  text-decoration: none;
}

.list {
  list-style: none;
}

.contact {
  font-weight: 500;
  color: var(--text-color);
}

.icon-smartphone,
.icon-letter {
  margin-right: 10px;
}

.nav-menu .item + .item {
  margin-left: 50px;
}

.mail-tel .item + .item {
  margin-left: 30px;
}

.mail-tel {
  justify-content: flex-end;
}

/*=========FOCUS HOVER====================*/
.nav-item,
.contact,
.address-map,
.email-tel {
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.accent,
.nav-item:hover,
.nav-item:focus,
.contact:hover,
.contact:focus,
.address-map:hover,
.address-map:focus,
.email-tel:hover,
.email-tel:focus {
  color: var(--accent-color);
  fill: var(--accent-color);
}

/*========================HERO================ */

.hero {
  background-color: var(--bgr-dark);
  padding-top: 200px;
  padding-bottom: 200px;
}

.overlay {
  height: 600px;
  max-width: 1600px;
  background-image: linear-gradient(
      to right,
      rgb(47, 48, 58, 0.4),
      rgb(47, 48, 58, 0.4)
    ),
    url(../images/bg_hero.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  margin-left: auto;
  margin-right: auto;
}

.hero-title {
  width: 694px;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;

  letter-spacing: 0.06em;
  text-transform: uppercase;
  margin-bottom: 30px;
  text-align: center;
  margin-left: auto;
  margin-right: auto;

  color: var(--white);
}

.button {
  border-radius: 4px;

  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;

  letter-spacing: 0.06em;

  color: var(--white);
}

.button.primary {
  border: none;
  background-color: var(--accent-color);
  padding: 10px 32px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

/*==========SECTION  Наші особливості ===========*/
.section {
  padding-top: 94px;
}
.list-item {
  display: flex;
  gap: 30px;
}

.item-content::before {
  content: "";
  display: block;
  height: 120px;
  border-radius: 4px;
  margin-bottom: 30px;
  background-color: var(--bgr-gray);
  background-repeat: no-repeat;
  background-position: center;
}

.item-content {
  width: 270px;
}

.icon-antena::before {
  background-image: url(../images/antenna.svg);
}

.icon-clock::before {
  background-image: url(../images/clock.svg);
}

.icon-diagram::before {
  background-image: url(../images/diagram.svg);
}

.icon-astronaut::before {
  background-image: url(../images/astronaut.svg);
}
.title-after {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  margin-bottom: 10px;

  text-transform: uppercase;

  color: var(--title-color);
}

.title-before {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  margin-bottom: 50px;

  color: var(--title-color);
}

.list-img,
.list-team {
  display: flex;
  gap: var(--card-set-gap);
}

.section-img {
  padding-top: 94px;
  padding-bottom: 94px;
}

/*========SECTION  Наша команда =========*/

.team {
  background-color: var(--bgr-gray);
  padding-top: 94px;
  padding-bottom: 94px;
}

.team-content {
  padding-top: 30px;
  padding-bottom: 30px;
  background-color: var(--white);
}

.team-item {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  margin-bottom: 10px;

  color: var(--title-color);
}

.team-item-work {
  font-size: 16px;
  line-height: 1.19;
  margin-bottom: 16px;
  text-align: center;

  color: var(--text-color);
}

.border-item {
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
  margin-left: auto;
  margin-right: auto;
}
.list-join-team {
  display: flex;
  gap: 10px;
  justify-content: center;
}

.icon-join-team {
  display: flex;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background-color: var(--white);
  fill: var(--border-client);
  background-size: 20px;
  justify-content: center;
  align-items: center;

  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.icon-join-team:focus,
.icon-join-team:hover {
  background-color: var(--accent-color);
  fill: var(--white);
}

/*=============CLIENTS=================*/

.clients {
  /* background-color: var(--white); */
  padding-top: 94px;
  padding-bottom: 94px;
}

.list-client {
  display: flex;
  gap: var(--card-set-gap);
}

.icon-join-client {
  display: flex;
  width: 170px;
  height: 92px;

  border: 1px solid var(--border-client);
  border-radius: 4px;

  fill: var(--border-client);
  background-size: 20px;
  justify-content: center;
  align-items: center;

  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.icon-join-client:hover,
.icon-join-client:focus {
  fill: var(--accent-color);
  border: 1px solid var(--accent-color);
}

/*============FOTTER===================*/
.footer {
  /* height: 252px; */
  padding-top: 60px;
  padding-bottom: 60px;

  background-color: var(--bgr-dark);
}

.logo.logo-color {
  color: var(--white);
  display: block;
  margin-bottom: 20px;
  margin-right: 0;
}

.address {
  font-style: normal;
}

.list-address .item + .item {
  margin-top: 9px;
}

.address-map {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;

  color: var(--white);
}

.email-tel {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;

  color: var(--white_alpha);
}

.bloks {
  display: flex;
  align-items: baseline;
}

.title-join {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  margin-bottom: 20px;

  color: #ffffff;
}

.list-join {
  display: flex;
  gap: 10px;
}

.icon-join {
  display: flex;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background-color: #44454e;
  fill: var(--bgr-white);
  align-items: center;
  justify-content: center;

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.icon-join:hover,
.icon-join:focus {
  background-color: var(--accent-color);
}

.blok-join {
  margin-left: 70px;
}

.block-send {
  margin-left: 93px;
}

.form-send {
  display: flex;
}

.footer-send {
  position: relative;
  right: 0px;

  width: 358px;
  height: 50px;
  padding-left: 16px;
  margin-right: 12px;

  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);

  outline: transparent;
  background-color: transparent;

  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
}

.button.primary.button-send {
  display: flex;
  justify-content: space-between;
  align-items: center;

  padding: 10px 28px;
  width: 200px;

  fill: var(--white);
}

/* =================modal=============== */

.backdrop {
  position: fixed;
  top: 0;
  left: 0;

  width: 100%;
  height: 100%;

  background: rgba(0, 0, 0, 0.2);
  opacity: 1;

  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
  visibility: hidden;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  width: 528px;
  /* height: 581px; */

  background: #ffffff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  padding-left: 41px;
  padding-top: 40px;
  padding-right: 39px;
  padding-bottom: 40px;
}

.modal-close {
  position: absolute;
  top: 8px;
  right: 8px;

  width: 30px;
  height: 30px;

  background: transparent;
  border: 1px solid rgba(0, 0, 0, 0.1);

  border-radius: 50%;
  fill: var(--border-client);
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-close:hover,
.modal-close:focus {
  border: 1px solid var(--accent-color);
  stroke: var(--accent-color);
}

.modal-title {
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  letter-spacing: 0.03em;
  margin-bottom: 12px;

  color: var(--title-color);
}

.form-fild {
  margin-bottom: 10px;
}

.form-label {
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  margin-bottom: 4px;

  color: var(--text-color);
}

.form-icon {
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-input,
.form-coment {
  width: 100%;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  outline: transparent;

  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-input {
  height: 40px;
  padding-left: 42px;
}

.input-fild {
  position: relative;
}

.form-input:focus,
.form-coment:focus {
  border: 1px solid var(--accent-color);
}
.form-input:focus + .form-icon {
  fill: var(--accent-color);
}

.form-icon {
  position: absolute;
  left: 12px;
  top: 50%;
  transform: translateY(-50%);
}

.form-coment {
  padding: 12px 16px;
  height: 120px;

  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  resize: none;

  margin-bottom: 20px;

  color: rgba(117, 117, 117, 0.5);
}

.form-checkbox {
  margin-bottom: 30px;
}

.checkbox {
  /* appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none; */
  position: absolute;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}

.checkbox-label {
  display: flex;
  gap: 7px;
  align-items: center;
  justify-content: center;
}

.checkbox-label {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;

  color: var(--text-color);
}

.form-link {
  text-decoration-line: underline;
  color: var(--accent-color);
}

.checkbox-icon {
  display: block;
  width: 16px;
  height: 15px;
  border: 2px solid var(--title-color);
  border-radius: 2px;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.checkbox:checked + .checkbox-icon {
  border-color: var(--accent-color);
  background-color: var(--accent-color);
  background-image: url(../images/icon-check.svg);
  background-size: contain;
  background-origin: border-box;
}

.btn-modal {
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
}

/*===============PORTFOLIO==============*/

.portfolio {
  padding-top: 94px;
  padding-bottom: 94px;
}

.radio-btn {
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  border-radius: 4px;

  border: none;

  padding-top: 6px;
  padding-bottom: 6px;
  padding-right: 22px;
  padding-left: 22px;

  letter-spacing: 0.03em;
  color: var(--title-color);
  background-color: var(--bgr-gray);

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.radio-btn:hover,
.radio-btn:focus {
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
  background-color: var(--accent-color);
  color: var(--white);
}

.radio-btn.primary {
  background-color: var(--accent-color);
  color: var(--white);
}

.nav-portfolio {
  display: flex;
  gap: 8px;
  justify-content: center;
  margin-bottom: 50px;
}

.card-set {
  display: flex;
  flex-wrap: wrap;
  position: relative;

  margin-top: calc(-1 * var(--card-set-gap));
  margin-left: calc(-1 * var(--card-set-gap));
}
.card-item {
  position: relative;
  display: flex;
  flex-basis: calc(100% / 3 - var(--card-set-gap));

  margin-top: var(--card-set-gap);
  margin-left: var(--card-set-gap);

  transform: translate(0%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.product-tumb {
  position: relative;
  overflow: hidden;
}

.overlay-card {
  display: block;
  position: absolute;
  top: 0;
  left: 0;

  width: 100%;
  height: 100%;
  padding: 63px 24px;

  background-color: rgba(33, 150, 243, 0.9);

  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1),
    opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.card-link:hover .overlay-card {
  transform: translateY(0);
}

.overlay-text {
  font-weight: 400;
  font-size: 18px;
  line-height: 1.58;
  letter-spacing: 0.03em;

  color: #ffffff;
}

.card-link {
  overflow: hidden;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.card-link:hover,
.card-link:focus {
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}

.list.card-item > a {
  text-decoration: none;
}

.card-content {
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 24px;
  padding-right: 24px;

  border-right: 1px solid var(--border-color);
  border-bottom: 1px solid var(--border-color);
  border-left: 1px solid var(--border-color);
}

.card-title {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  margin-bottom: 4px;

  color: var(--title-color);
}

.card-text {
  font-size: 16px;
  line-height: 1.88;

  letter-spacing: 0.03em;

  color: var(--text-color);
}
