.section {
  padding-top: 94px;
}
.list-item {
  display: flex;
  gap: 30px;
}

.item-content::before {
  content: "";
  display: block;
  height: 120px;
  border-radius: 4px;
  margin-bottom: 30px;
  background-color: var(--bgr-gray);
  background-repeat: no-repeat;
  background-position: center;
}

.item-content {
  width: 270px;
  list-style: none;
}

.icon-antena::before {
  background-image: url(../images/antenna.svg);
}

.icon-clock::before {
  background-image: url(../images/clock.svg);
}

.icon-diagram::before {
  background-image: url(../images/diagram.svg);
}

.icon-astronaut::before {
  background-image: url(../images/astronaut.svg);
}
.title-after {
  @include font(700, 14px, 1.14, null);
  // font-weight: 700;
  // font-size: 14px;
  // line-height: 1.14;
  margin-bottom: 10px;

  text-transform: uppercase;

  color: var(--title-color);
}

.title-before {
  @include font(700, 36px, 1.17, null);
  // font-weight: 700;
  // font-size: 36px;
  // line-height: 1.17;
  text-align: center;
  margin-bottom: 50px;

  color: var(--title-color);
}

.list-img,
.list-team {
  display: flex;
  gap: var(--card-set-gap);
}

.section-img {
  padding-top: 94px;
  padding-bottom: 94px;
}
